:root {
  --main-bg-color: #FF8B00;
}
body{
    background-color: #fafafa;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.row{
  margin: 0;
}
.container{
    max-width: 1200px;
}
.main-section{
  border-radius: 5px;
  background-color: #fff;
  padding: 0 20px;
  max-width: 1200px;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  border: none
}

aside,
main{
    padding: 40px 30px;
    box-sizing: border-box;
}

.items,
aside .card{
box-shadow: 0 2px 5px rgba(0,0,0,.3);
border: none
}

aside h3{
  color: var(--main-bg-color);
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

.btn-primary,
.bg-primary{
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-bg-color);
}
.btn-primary:hover{
    background-color: #777;
    border-color: #777
}
.card-text{
    color: #777;
}
.impact{
    font-family: Impact;
}
footer{
  margin-top: 50px;
  background-color: var(--main-bg-color);
  padding: 5px;
  color: #fff;
}

@media(max-width: 575px){
    .siz{
        overflow: auto;
        height: 200px;
    }
}

 /*for slider*/
.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px !important;
  height: 320px !important;
}

.swiper-button-next{
    background-image: url("../image/right-arrow.svg") !important;
    background-color: rgba(0,0,0,0.1);
    width: 30px !important;
    height: 80px !important;
}
.swiper-button-prev{
    background-image: url("../image/back.svg") !important;
    background-color: rgba(0,0,0,0.1);
    width: 30px !important;
    height: 80px !important;
}