:root {
  --main-bg-color: #FF8B00;
}
body{
    background-color: #fafafa
}
.row{
    margin: 0;
}
.box{
    background-color: #fafafa;
    border-radius: 5px;
    padding-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
.box header{
    background-color: var(--main-bg-color);
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}
.box header h2{
    margin: 0;
    font-family: monospace;
    padding: 10px;
    color: #fff
}
.box header h2 i{
    font-size: 22px;
}

.box main .row img{
    border: 1px solid #777;
    max-width: 250px;
    max-height: 200px;
    box-shadow: 0 0 2px 2px#888;
}
