body{
    font-family: sans-serif;
    /*background-image: url("../image/bg.jpg");*/
    background-color: #fafafa;

}
.box{
    width: 450px;
    padding: 40px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
}
.box h2{
    margin: 0 0 8px 0;
    padding: 0;
    color: #FF8B00;
    text-align: center;
}
.box .inputBox{
    position: relative;
}
.box .inputBox input{
    width: 100%;
    padding: 5px 2px;
    font-size: 15px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #FF8B00;
    outline: none;
    background: transparent;
    letter-spacing: 1px;
}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 15px;
    color: #FF8B00;
    pointer-events: none;
    transition: .5s;
    letter-spacing: 1px;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -27px;
    left: 0;
    color: #FF8B00;
    font-size: 12px;

}
.box a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px
}
.btn-primary{
    background-color: #FF8B00;
    border-color: #FF8B00;
}
.btn-primary:hover,
.btn-primary:active{
    background-color: #FF6B00;
}