:root {
  --main-bg-color: #FF8B00;
}
.row{
    margin: 0
}
*{
    box-sizing: border-box;
}
.btn-primary,
.bg-primary,
.dropdown-item:active{
  background-color: var(--main-bg-color) !important;
  border: 1px solid var(--main-bg-color);
}
.btn-primary:hover{
    background-color: #777;
    border-color: #777
}
.upper-header form .search-bar{
    box-shadow: none;
    border-color: var(--main-bg-color);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.upper-header form .search-btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #fafafa;
    color: var(--main-bg-color);
}

@media(max-width: 635px){
    .search-bar{
        display: none;
        transition: 0.5s all ease-in-out;
    }
    .search-btn{
        border-radius: 50% !important;
        transition: 0.5s all ease-in-out;
    }
}
@media(min-width: 635px){
    .search-bar2{
        display: none;
    }
}