<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/upperheader.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/cart.css' %}">
</head>
<body>
    {% include "Commerce/upperheader.html" %}
    {% include "Commerce/navbar.html" %}

    <div class="container">
        <h1 class="text-secondary text-center font-weight-bold">Cart</h1>

        {% if products %}

          {% for product in products %}
          <div class="card mb-3 p-2">
            <div class="row no-gutters">
              <div class="col-5 col-md-3 m-auto" style="width: 250px">
                <img width="100%" src="{{ product.0.image.url }}" class="card-img" alt="{{ product.0.name }}">
              </div>
              <div class="col-7 col-md-9 m-auto">
                <div class="card-body">

                  <h5 class="card-title">{{ product.0.name }}</h5>
                  <div id="quantity" class="text-info impact">Quantity: <span>{{ product.1 }}</span></div>
                  <h4 id="price" class="d-none">{{ product.0.price }}</h4>
                  <h4 id="total-price" class="text-danger impact"></h4>
                  <button onclick="delete_from_cart(this)" data-quantity="{{ product.1 }}" data-id="{{ product.0.id }}" type="button" class="btn btn-danger font-weight-bold"><i class="fas fa-times"></i> Remove</button>

                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
            <br>
            <h1 class="text-secondary">No Items Here</h1>
            <br>
        {% endif %}
        <div class="text-center">
              <br>
                <button onclick="buy()" type="button" class="btn btn-dark font-weight-bold" style="width: 9rem;font-size: 18px;"><i class="fas fa-money-bill-alt"></i> Buy</button>
              <br><br>
        </div>
    </div>

    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/popper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/upperheader.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>
    <script src="{% static 'Commerce/js/notify.min.js' %}"></script>
    <script src="{% static 'Commerce/js/cart.js' %}"></script>

		<script>
		    var csrf_token = '{{ csrf_token }}';
		</script>

</body>
</html>
