<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/upperheader.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/cart.css' %}">
</head>
<body>
    {% include "Commerce/upperheader.html" %}
    {% include "Commerce/navbar.html" %}

    <div class="container">
        <h1 class="text-secondary">Cart</h1>
    </div>

    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/popper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>
    <script src="{% static 'Commerce/js/cart.js' %}"></script>

</body>
</html>