<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/upperheader.css' %}">
</head>
<body>

    {% include "Commerce/upperheader.html" %}
    {% include "Commerce/navbar.html" %}

    <div class="container main-section">
      <div class="row justify-content-between">

        <!-- aside left start -->
        <aside class="text-center text-sm-left text-md-left text-lg-left col-sm-5 col-md-4 col-lg-3 ">
          <div class="card">
            <h3 class="text-center"><i class="fas fa-bookmark"></i> Category</h3>
            <div class="form-check siz"><br>
              <a class="card-link" href="{% url 'home' %}"> All</a><br><br>
                {% for cat in category %}
                    <a class="card-link" href="{% url 'single_category' cat.name %}"> {{ cat.name }}</a><br><br>
                {%endfor%}
            </div>
          </div>
        </aside>
        <!-- aside end -->

        <!-- main-section right start -->
        <main class="col-sm-7 col-md-8 col-lg-9">
          <div class="items ">
              <!--start number page-->
              <div class="pagination p-4">
                  <span class="step-links m-auto">
                    {% if products.has_previous and request.GET.search %}
                        <a class="card-link" href="?search={{ request.GET.search }}&page=1">&laquo; first</a>
                        <a class="btn btn-secondary p-1 m-2" href="?search={{ request.GET.search }}&page={{ products.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% elif products.has_previous %}
                        <a class="card-link" href="?page=1">&laquo; first</a>
                        <a class="btn btn-secondary p-1 m-2" href="?page={{ products.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ products.number }} of {{ products.paginator.num_pages }}
                    </span>
                    {% if products.has_next and request.GET.search %}
                        <a class="btn btn-secondary p-1 m-2" href="?search={{ request.GET.search }}&page={{ products.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                        <a class="card-link" href="?search={{ request.GET.search }}&page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% elif products.has_next %}
                        <a class="btn btn-secondary p-1 m-2" href="?page={{ products.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                        <a class="card-link" href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                  </span>
              </div>
              <!--end number_page-->
              <div class="row justify-content-center">
                {% if products.paginator.count > 0 %}
                    {% for product in products %}

                    <form class="col-xs-12 col-md-6 col-lg-4 card" style="width: 18rem;"><br>
                        <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
                        <div class="card-body">
                          <h5 class="card-title"><a class="card-link" href="{% url 'single_product' product.id %}">{{ product.name|truncatechars:60 }}</a></h5>
                          <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        </div>
                        <div class="text-center">
                            <h3 class="impact">${{ product.price }}</h3>
                            <button data-toggle="modal" data-target="#exampleModa{{ product.id }}" type="button" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add To Cart</button>
                        </div><br>

                        <!-- popup Modal -->
                        <div class="modal fade" id="exampleModa{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <label for="quantity">quantity : </label>
                                <input id="quantity" name="quantity" type="number" value="1">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button data-id="{{ product.id }}" onclick="add_to_cart(this)" data-dismiss="modal" type="button" class="btn btn-primary">Buy</button>
                              </div>
                            </div>
                          </div>
                        </div>


                    </form>
                    {% endfor %}
                {% else %}
                  <br>
                    <h1 class="text-secondary">No Items Here</h1>
                  <br>
                {% endif %}

              </div>
              <!--start number page-->
              <div class="pagination p-4">
                  <span class="step-links m-auto">
                    {% if products.has_previous and request.GET.search %}
                        <a class="card-link" href="?search={{ request.GET.search }}&page=1">&laquo; first</a>
                        <a class="btn btn-secondary p-1 m-2" href="?search={{ request.GET.search }}&page={{ products.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% elif products.has_previous %}
                        <a class="card-link" href="?page=1">&laquo; first</a>
                        <a class="btn btn-secondary p-1 m-2" href="?page={{ products.previous_page_number }}"><i class="fas fa-arrow-circle-left"></i></a>
                    {% endif %}

                    <span class="current">
                        Page {{ products.number }} of {{ products.paginator.num_pages }}
                    </span>
                    {% if products.has_next and request.GET.search %}
                        <a class="btn btn-secondary p-1 m-2" href="?search={{ request.GET.search }}&page={{ products.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                        <a class="card-link" href="?search={{ request.GET.search }}&page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% elif products.has_next %}
                        <a class="btn btn-secondary p-1 m-2" href="?page={{ products.next_page_number }}"><i class="fas fa-arrow-circle-right"></i></a>
                        <a class="card-link" href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                  </span>
              </div>
              <!--number page end-->
          </div>
        </main>
        <!-- main-section end -->

      </div>
    </div>

    <!-- footer start -->
    <footer>
      <div class="container">
        <div class="text-center">designed in 2019 &copy; Mahmoud Adel</div>
      </div>
    </footer>

    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/popper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/notify.min.js' %}"></script>
    <script src="{% static 'Commerce/js/home.js' %}"></script>
    <script src="{% static 'Commerce/js/upperheader.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>
    <script>
		    var csrf_token = '{{ csrf_token }}';
    </script>
</body>
</html>
