<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/login.css' %}">
</head>
<body>
{% include "Commerce/navbar.html" %}
    <div class="box m-auto">
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="post">{% csrf_token %}
            <div class="inputBox">
                <input id="username" type="text" name="username" required="">
                <label for="username">Username</label>
            </div>
            {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              {{error}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endif %}
            <div class="inputBox">
                <input id="password" type="password" name="password" required="">
                <label for="password">Password</label>
            </div>
            <input class="btn btn-primary" type="submit" value="Sign In">
        </form>
        <br>
        <a href="{% url 'register' %}">I don't have account</a>
    </div>

    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/login.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>
</body>
</html>