<header class="nav-bar">
  <a class="nav-link logo" href="{% url 'home' %}"><i class="fas fa-store text-secondary"></i> Logo</a>
  <div class="menu-bars"><i class="fas fa-bars"></i></div>
  <div class="menu-close none"><i class="fas fa-times"></i></div>
  <nav>
      <ul class="text-center">
          <li><a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>
          <li><a class="nav-link" href="{% url 'team' %}"><i class="fas fa-users"></i> Team</a></li>
          <li><a class="nav-link" href="{% url 'contact' %}"><i class="fas fa-phone"></i> Contact</a></li>
      </ul>
  </nav>
  <div class="clearfix"></div>
</header>



