<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>product | {{product.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/upperheader.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/swiper.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/product.css' %}">

</head>
<body>

    {% include "Commerce/upperheader.html" %}
    {% include "Commerce/navbar.html" %}

    <div class="single_product">
        <div class="container">
            <h2>{{product.name}}</h2><br>
            <div class="row justify-content-between">
                <img class="col-4" src="{{product.image.url}}" alt="{{product.name}}">
                <div class="col-7 card-body">
                    <p class="text-secondary">{{product.description}}</p>
                    <h3 class="text-danger" style="font-family: Impact">${{product.price}}</h3>
                    <button data-toggle="modal" data-target="#exampleModa{{ product.id }}" type="button" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add To Cart</button>
                </div>
            </div>
            <br>
            <hr>
        </div>

        <div class="container bg-white main-section">
            <h4 class="p-2">Similar Products</h4>
            <div id="mak" class="swiper-container">
                <div class="swiper-wrapper">
                    {% for product in recommend_product %}
                    <div class="swiper-slide text-center">
                        <a class="card-link" href="{% url 'single_product' product.id %}">
                            <img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}">
                            <div class="card-body">
                              <div class="text-dark font-weight-bold text-center">{{ product.name|truncatechars:25 }}</div>
                              <div class="text-center text-danger impact">${{ product.price }}</div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <br>

        <div class="container">
            <h3 class="text-secondary p-4">Users Buy This Product</h3>
            {% if invoices %}
                {% for invoice in invoices %}
                    <div class="card mb-3 p-2">
                      <div class="row no-gutters">
                        <div class="col-md-3" style="max-width: 5rem">
                            {% if invoice.customer.gender == 'Female' %}
                                <img src="{% static 'Commerce/image/female_icon.png' %}" class="card-img" alt="{{ invoice.customer.name }}">
                            {% else %}
                                <img src="{% static 'Commerce/image/User-icon.png' %}" class="card-img" alt="{{ invoice.customer.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title"><a class="card-link text-dark font-weight-bold" href="{% url 'profile' invoice.customer.name %}">{{ invoice.customer.name }}</a></h5>
                            <small class="text-muted">{{ invoice.customer.email }}</small>
                              {% if invoice.status == 'Buy' %}
                              <p class="card-text"><small class="text-success">{{ invoice.status }} {{ invoice.quantity }}</small></p>
                              {% else %}
                              <p class="card-text"><small class="text-danger">{{ invoice.status }} {{ invoice.quantity }}</small></p>
                              {% endif %}
                            <p class="card-text"><small class="text-muted">{{ invoice.date_time }}</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center p-2 text-secondary">doesn't have any history</p>
            {% endif %}
        </div>
    </div>


    <!-- popup Modal -->
    <div class="modal fade" id="exampleModa{{ product.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="quantity">quantity : </label>
            <input id="quantity" name="quantity" type="number" value="1">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button data-id="{{ product.id }}" onclick="add_to_cart(this)" data-dismiss="modal" type="button" class="btn btn-primary">Buy</button>
          </div>
        </div>
      </div>
    </div>


    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/popper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/notify.min.js' %}"></script>
    <script src="{% static 'Commerce/js/upperheader.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>
    <script src="{% static 'Commerce/js/swiper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/product.js' %}"></script>
    <script>
		    var csrf_token = '{{ csrf_token }}';
    </script>
</body>
</html>

