<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>product | {{product.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/upperheader.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/product.css' %}">
</head>
<body>

    {% include "Commerce/upperheader.html" %}
    {% include "Commerce/navbar.html" %}

    <div class="single_product">
        <div class="container">
            <h2>{{product.name}}</h2><br>
            <div class="row justify-content-between">
                <img class="col-4" src="{{product.image.url}}" alt="{{product.name}}">
                <div class="col-7 card-body">
                    <p class="text-secondary">{{product.description}}</p>
                    <h3 class="text-danger" style="font-family: Impact">${{product.price}}</h3>
                    <button onclick="add_to_cart(this)" data-id="{{ product.id }}" type="button" class="btn btn-primary"><i class="fas fa-cart-plus"></i> Add To Cart</button>
                </div>
            </div>
            <br>
            <hr>
        </div>
        <div class="container">
            <h3 class="text-secondary p-4">Users Buy This Product</h3>
            {% if invoices %}
                {% for invoice in invoices %}
                    <div class="card mb-3 p-2">
                      <div class="row no-gutters">
                        <div class="col-md-3" style="max-width: 5rem">
                            {% if invoice.customer.gender == 'Female' %}
                                <img src="{% static 'Commerce/image/female_icon.png' %}" class="card-img" alt="{{ invoice.customer.name }}">
                            {% else %}
                                <img src="{% static 'Commerce/image/User-icon.png' %}" class="card-img" alt="{{ invoice.customer.name }}">
                            {% endif %}
                        </div>
                        <div class="col-md-9">
                          <div class="card-body">
                            <h5 class="card-title"><a class="card-link" href="{% url 'profile' invoice.customer.name %}">{{ invoice.customer.name }}</a></h5>
                            <small class="text-muted">{{ invoice.customer.email }}</small>
                              {% if invoice.status == 'Buy' %}
                              <p class="card-text"><small class="text-success">{{ invoice.status }} {{ invoice.quantity }}</small></p>
                              {% else %}
                              <p class="card-text"><small class="text-danger">{{ invoice.status }} {{ invoice.quantity }}</small></p>
                              {% endif %}
                            <p class="card-text"><small class="text-muted">{{ invoice.date_time }}</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-center p-2 text-secondary">doesn't have any history</p>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/popper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/notify.min.js' %}"></script>
    <script src="{% static 'Commerce/js/upperheader.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>
    <script src="{% static 'Commerce/js/product.js' %}"></script>
    <script>
		    var csrf_token = '{{ csrf_token }}';
    </script>
</body>
</html>

