<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/profile.css">
</head>
<body>
    <div class="box">
        <header>
            <div class="container">
                <h2><i class="fas fa-user"></i> Mahmoud Adel</h2>
            </div>
        </header>
        <main>
            <div class="row">
                <img class="img-thumbnail col-5" src="image/User-icon.png" alt="python creator">
                <section class="col-5">
                    <h1>Description here</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quis animi quidem molestiae voluptas atque beatae hic quae, illum, incidunt natus exercitationem magnam dolores harum nostrum sit consequuntur vel sed.</p>
                </section>
            </div>    
        </main>
    </div>
</body>
</html>