<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link rel="stylesheet" href="{% static 'Commerce/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/upperheader.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Commerce/css/team.css' %}">
</head>
<body>
    {% include "Commerce/upperheader.html" %}
    {% include "Commerce/navbar.html" %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="card" style="width: 14rem;">
              <img src="{% static 'Commerce/image/User-icon.png' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Mahmoud</p>
              </div>
            </div>
            <div class="card" style="width: 14rem;">
              <img src="{% static 'Commerce/image/User-icon.png' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Karim</p>
              </div>
            </div>
            <div class="card" style="width: 14rem;">
              <img src="{% static 'Commerce/image/User-icon.png' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Mostafa</p>
              </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 14rem;">
              <img src="{% static 'Commerce/image/female_icon.png' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Bassant</p>
              </div>
            </div>
            <div class="card" style="width: 14rem;">
              <img src="{% static 'Commerce/image/female_icon.png' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Somaia</p>
              </div>
            </div>
            <div class="card" style="width: 14rem;">
              <img src="{% static 'Commerce/image/female_icon.png' %}" class="card-img-top" alt="...">
              <div class="card-body text-center">
                <p class="card-text">Hagar</p>
              </div>
            </div>

        </div>

    </div>
    <script src="{% static 'Commerce/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'Commerce/js/popper.min.js' %}"></script>
    <script src="{% static 'Commerce/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Commerce/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'Commerce/js/scroll.js' %}"></script>
    <script src="{% static 'Commerce/js/team.js' %}"></script>
    <script src="{% static 'Commerce/js/navbar.js' %}"></script>

</body>
</html>